@import "./home.css";
:root {
  --pale-cerulean: #a0b8caff;
  --prussian-blue: #133963ff;
  --beau-blue: #d3e1eaff;
  --cerulean-crayola: #20a9daff;
  --white: #ffffffff;
  --background-grey: #f8f7f8;
  --grey: #9e9e9e;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background-grey);
}

.t14 {
  font-size: 14px;
}

header .normal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
}
header .normal-header .left-section {
  display: flex;
  align-items: center;
}
header .normal-header .left-section .logo-container {
  height: 30px;
  margin-right: 20px;
}
header .normal-header .left-section .header-under-search-links {
  margin-top: 10px;
  display: flex;
  padding-left: 0;
  list-style: none;
}
header .normal-header .left-section .header-under-search-links li {
  margin-right: 20px;
  font-weight: 600;
  font-size: 14px;
}
header .normal-header .left-section .header-under-search-links li a {
  text-decoration: none;
  color: rgb(37, 37, 37);
}
header .normal-header .left-section .header-under-search-links li a.active {
  color: var(--prussian-blue);
}
header .normal-header .left-section .search-container {
  display: flex;
  border: 1px solid var(--grey);
  border-radius: 30px;
  overflow: hidden;
  height: 35px;
  width: 550px;
  padding: 2px 2px 2px 0;
}
header .normal-header .left-section .search-container input {
  padding: 5px 10px 5px 10px;
  flex: 1;
}
header .normal-header .left-section .search-container button {
  padding: 0px 15px 0px 15px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--beau-blue);
  border-radius: 15px;
}
header .normal-header .left-section .search-container button svg {
  font-size: 20px;
}
header .normal-header .left-section .search-container input,
header .normal-header .left-section .search-container button {
  border: none;
  outline: none;
}
header .normal-header .right-section {
  display: flex;
  align-items: center;
}
header .normal-header .right-section .sign-in-text {
  font-weight: 600;
}
header .normal-header .right-section .summary-section {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
header .normal-header .right-section .summary-section .sum-item {
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
header .normal-header .right-section .summary-section .sum-item .icon {
  font-size: 27px;
}
header .top-container {
  padding: 15px 20px 15px 20px;
  background: var(--prussian-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}
header .top-container div:nth-child(1) {
  font-size: 14px;
  font-weight: 600;
}
header .top-container .t-header-icons svg {
  margin-left: 20px;
}

.bold {
  font-weight: 700;
}

footer .footer-logo {
  height: 30px;
}
footer .promo-text {
  color: var(--prussian-blue);
  font-size: 14px;
}
footer .first-container {
  background-color: var(--white);
  border-radius: 15px;
  margin-bottom: 20px;
}
footer .first-container .footer-content .bold {
  margin-bottom: 10px;
}
footer .first-container .footer-content ul {
  list-style: none;
  padding-left: 0;
}
footer .first-container .footer-content ul li {
  color: var(--grey);
}
footer .first-container .payment-methods {
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--background-grey);
}
footer .botton-container {
  display: flex;
  justify-content: space-between;
}
footer .botton-container ul {
  list-style: none;
  display: flex;
}
footer .botton-container ul li {
  padding-left: 10px;
  font-size: 13px;
}

.product-card-2-container {
  background: var(--white);
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.product-card-2-container .product-image {
  width: 140px;
  height: 140px;
}
.product-card-2-container .product-name {
  font-size: 18px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 5px;
}
.product-card-2-container .product-category {
  font-size: 14px;
  color: var(--grey);
}
.product-card-2-container .product-price {
  font-weight: 700;
  color: var(--prussian-blue);
}

.trending-product-container {
  background: url("http://demo2.themelexus.com/medilazar/wp-content/uploads/2020/10/h1-banner04.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.trending-product-container .department-name {
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  font-size: 15px;
  position: relative;
  bottom: -10px;
}
.trending-product-container .product-name {
  font-weight: 700;
  color: white;
  font-size: 30px;
}
.trending-product-container .product-price {
  font-weight: 700;
  color: white;
  font-size: 18px;
}

.home-order-about .row {
  align-items: center;
}
.home-order-about .details {
  height: 100%;
  display: flex;
  align-items: center;
}
.home-order-about .point {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.home-order-about .point .point-number {
  border: 3px solid var(--cerulean-crayola);
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 700;
  margin-right: 10px;
}

.input-wrapper {
  position: relative;
}
.input-wrapper input,
.input-wrapper button {
  border: none;
  border: 0;
  outline: none;
}
.input-wrapper .with-btn-container {
  border: 1px solid var(--grey);
  width: 45%;
  flex-direction: row;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 35px;
  padding: 5px;
  background-color: var(--white);
}
.input-wrapper .text-input {
  background-color: var(--white);
  flex: 1;
  height: 100%;
  width: 100%;
  padding: 10px;
}
.input-wrapper .submit-btn {
  background-color: var(--prussian-blue);
  color: var(--white);
  height: 100%;
  font-size: 14px;
  font-weight: 700;
  padding: 6px;
  border-radius: 35px;
}

.app-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  position: relative;
}
.app-wrapper .nav-side {
  width: 230px;
  height: 100%;
  background: var(--prussian-blue);
}/*# sourceMappingURL=main.css.map */