@import "./palette.scss";

:root {
  --pale-cerulean: #a0b8caff;
  --prussian-blue: #133963ff;
  --beau-blue: #d3e1eaff;
  --cerulean-crayola: #20a9daff;
  --white: #ffffffff;
  --background-grey: #f2f3f5;
  --grey: rgb(158, 158, 158);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background-grey);
}

.t14 {
  font-size: 14px;
}

header {
  .normal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    .left-section {
      display: flex;
      align-items: center;
      .logo-container {
        height: 30px;
        margin-right: 20px;
        // border: 1px solid black;
      }
      .header-under-search-links {
        margin-top: 10px;
        display: flex;
        padding-left: 0;
        list-style: none;
        li {
          margin-right: 20px;
          font-weight: 600;
          font-size: 14px;
        }
      }
      .search-container {
        display: flex;
        border: 1px solid var(--grey);
        border-radius: 30px;
        overflow: hidden;
        height: 35px;
        width: 550px;
        padding: 2px 2px 2px 0;

        input {
          padding: 5px 10px 5px 10px;
          flex: 1;
        }

        button {
          padding: 0px 15px 0px 15px;
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          background: var(--beau-blue);
          border-radius: 15px;
          svg {
            font-size: 20px;
          }
        }

        input,
        button {
          border: none;
          outline: none;
        }
      }
    }
    .right-section {
      display: flex;
      align-items: center;
      .sign-in-text {
        font-weight: 600;
      }
      .summary-section {
        display: flex;
        align-items: center;
        margin-left: 20px;
        .sum-item {
          font-weight: 600;
          display: flex;
          align-items: center;
          margin-left: 10px;
          .icon {
            font-size: 27px;
          }
        }
      }
    }
  }

  .top-container {
    padding: 15px 20px 15px 20px;
    background: var(--prussian-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    div:nth-child(1) {
      font-size: 14px;
      font-weight: 600;
    }

    .t-header-icons {
      svg {
        margin-left: 20px;
      }
    }
  }
}

.bold {
  font-weight: 700;
}

footer {
  .footer-logo {
    height: 30px;
  }

  .promo-text {
    color: var(--prussian-blue);
    font-size: 14px;
  }

  .first-container {
    background-color: var(--white);
    border-radius: 15px;
    margin-bottom: 20px;

    .footer-content {
      .bold {
        margin-bottom: 10px;
      }
      ul {
        list-style: none;
        padding-left: 0;
        li {
          color: var(--grey);
        }
      }
    }
    .payment-methods {
      display: flex;
      justify-content: center;
      border-top: 1px solid var(--background-grey);
    }
  }

  .botton-container {
    display: flex;
    justify-content: space-between;

    ul {
      list-style: none;
      display: flex;
      li {
        padding-left: 10px;
        font-size: 13px;
      }
    }
  }
}
