@import "./home.css";
:root {
  --pale-cerulean: #a0b8caff;
  --prussian-blue: #133963ff;
  --beau-blue: #d3e1eaff;
  --cerulean-crayola: #20a9daff;
  --white: #ffffffff;
  --background-grey: #f2f3f5;
  --grey: rgb(158, 158, 158);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background-grey);
}

.t14 {
  font-size: 14px;
}

header .normal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
}
header .normal-header .left-section {
  display: flex;
  align-items: center;
}
header .normal-header .left-section .logo-container {
  height: 30px;
  margin-right: 20px;
}
header .normal-header .left-section .header-under-search-links {
  margin-top: 10px;
  display: flex;
  padding-left: 0;
  list-style: none;
}
header .normal-header .left-section .header-under-search-links li {
  margin-right: 20px;
  font-weight: 600;
  font-size: 14px;
}
header .normal-header .left-section .search-container {
  display: flex;
  border: 1px solid var(--grey);
  border-radius: 30px;
  overflow: hidden;
  height: 35px;
  width: 550px;
  padding: 2px 2px 2px 0;
}
header .normal-header .left-section .search-container input {
  padding: 5px 10px 5px 10px;
  flex: 1;
}
header .normal-header .left-section .search-container button {
  padding: 0px 15px 0px 15px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--beau-blue);
  border-radius: 15px;
}
header .normal-header .left-section .search-container button svg {
  font-size: 20px;
}
header .normal-header .left-section .search-container input,
header .normal-header .left-section .search-container button {
  border: none;
  outline: none;
}
header .normal-header .right-section {
  display: flex;
  align-items: center;
}
header .normal-header .right-section .sign-in-text {
  font-weight: 600;
}
header .normal-header .right-section .summary-section {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
header .normal-header .right-section .summary-section .sum-item {
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
header .normal-header .right-section .summary-section .sum-item .icon {
  font-size: 27px;
}
header .top-container {
  padding: 15px 20px 15px 20px;
  background: var(--prussian-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}
header .top-container div:nth-child(1) {
  font-size: 14px;
  font-weight: 600;
}
header .top-container .t-header-icons svg {
  margin-left: 20px;
}

.bold {
  font-weight: 700;
}

footer .footer-logo {
  height: 30px;
}
footer .promo-text {
  color: var(--prussian-blue);
  font-size: 14px;
}
footer .first-container {
  background-color: var(--white);
  border-radius: 15px;
  margin-bottom: 20px;
}
footer .first-container .footer-content .bold {
  margin-bottom: 10px;
}
footer .first-container .footer-content ul {
  list-style: none;
  padding-left: 0;
}
footer .first-container .footer-content ul li {
  color: var(--grey);
}
footer .first-container .payment-methods {
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--background-grey);
}
footer .botton-container {
  display: flex;
  justify-content: space-between;
}
footer .botton-container ul {
  list-style: none;
  display: flex;
}
footer .botton-container ul li {
  padding-left: 10px;
  font-size: 13px;
}/*# sourceMappingURL=main.css.map */